body {
    font-family: 'Arial', sans-serif;
    background-color: #F2E9E4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFC947;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

main {
    padding: 20px;
}

article {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

article h2 {
    font-size: 24px;
    margin: 0 0 10px;
}

article p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px;
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
